.sidelogoMainCont{
    // border: 5px solid rgb(11, 230, 47);
    font-size: 20px;
  
   & .logoCont{
    // border: 1px solid red;
    &.active{
        font-weight:bold;
    }

    &.logoCont:hover{
        // border: 1px solid red;
        background-color: rgb(37, 37, 37);
    }
    & .Postbtn{
        // border: 2px solid red;
    }
    & .dropup-center{
        // border: 1px solid greenyellow;v
        width: 100%;
     
 
        & .btn{
            border: none;
            margin-top: 5px;
          width: 100%;
          display: flex;
          background-color: black;
          gap: 35px;
          font-size: 40;
          padding: 00;
        }
        & .dropdown-menu{
            width: 97%;
            margin: auto;
            border-radius: 10px;
           
          
        
            & li{
                font-size: 20px;
                // background-color: white;
                color: black;
            }
        }
    }
} }

.more_div{
    // border: 2px solid red;   
    width: 100%;
    display: flex;
    gap: 34px;
 align-items: center;
 font-size: 21px;
 & .dropdown-menu{
    background-color: black;
    width: 100%;
    border: 1px solid red;
 }
}